/* დაიწყო header */

header {
    width: 1280px;
    padding-top: 40px;
    margin: 0px auto;
}
h1{
    font-size: 70px;
    color: #36413e;
    vertical-align: middle;
    display: inline-block;
    

}
nav {
    display: inline-block;
    margin-left: 72px;
    vertical-align: middle;
    font-size: 18px;
    color: #7f7f7f;
}

li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 102px;

}
.searchl{ margin-left: 181px;

}
/* დაიწყო section */
section{
    width: 1280px;
    margin: 0 auto;
    background-color: #306b34;
    padding-left: 95px;
    padding-top: 174px;
    padding-bottom: 152px;
}
.foto{
    vertical-align: top;
    width: 679px;
    height: 453px;
}
.div1{
    width: 307px;
    height: 380px;
    display: inline-block;
    vertical-align: top;
    margin-left: 89px;

}
h2{
    font-size: 40px;
    color: #19381f;
    padding-bottom: 60px;
}
.text1{
    
    font-size: 20px ;
    color: #f4f4f1;

}