/* დაიწყო header */

header {
    
    width: 1280px;
    margin: 0 auto;
    
   padding-left: 44px;
   padding-top: 40px;
   padding-right: 72px;
   padding-bottom: 55px;
    vertical-align: middle;
    font-family: 'Rubik Gemstones', cursive;
    
  
}


h1 {
    width: 376px;
    display: inline-block;
    vertical-align: middle;
    font-size: 70px;
    color: #36413e;
    font-weight: bold;
    
    


}


nav {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    
}

li {
    display: inline-block;
    
    margin-left: 102px;

}

.searchl {
    margin-left: 181px;

}

/* დაიწყო section */
section {
   
    width: 1280px;
    margin: 0 auto;
    background-color: #306b34;
    padding-left: 44px;
    padding-top: 174px;
    padding-right: 72px;
    padding-bottom: 152px;
    font-family: 'Rubik Gemstones', cursive;
}

.foto {
    
    width: 679px;
    
}

.div1 {
    width: 307px; height: 380px;
    display: inline-block;
    vertical-align: top;
    margin-left: 89px;

}

h2 {
    font-size: 40px;
    color: #19381f;
    padding-bottom: 60px;
}

.text1 {

    font-size: 20px;
    color: #f4f4f1;

}

/* დაიწყო article */
article {
    margin: 0 auto;
    text-align: center;
    width: 1280px;
    padding-left: 184px;
    padding-right: 137px;
    padding-top: 88px;
    font-family: 'Rubik Gemstones', cursive;
}



.text2{
    width: 272px;
    height: 46px;
    font-size: 40px;
    font-style: italic;
    color: #36413e;
    margin: 0 auto;
}


.text3 {
    font-size: 20px;
    color: #7f7f7f;
    width: 959px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 69px;

    
}
button{
    width: 148px;
    height: 48px;
    color: #ffffff;
    background-color: #36413e;
    margin-bottom: 33px;
}

/* დაიწყო footer */
footer{
    width: 1280px;
    height: 68px;
    margin: 0 auto;
    background-color: #306b34;
    font-family: 'Rubik Gemstones', cursive;
}
h5{
    width: 108px;
    height: 16px;
    font-size: 20px;
    color: #f4f4f1;
    padding-left:  74px;
    padding-top: 25px;
    display: inline-block;
}
span{
    display: inline-block;
    padding-left: 724px;
    color: #f4f4f1;
    font-size: 12px;
}